h1, p{
    text-align: center;
}
ul:hover, ol:hover{
    background: yellowgreen;
}
li:active{
    background: pink;
    color:tomato;
    font-family: 'Dancing Script', cursive;
    font-size:20px;
}
ol, ul{
    list-style:none; /*some o ponto e o número na frente do item */
}