
div:first-of-type{ /*seleciona o primeiro elemento desse tipo*/
    background:chocolate;
}
div:nth-last-of-type(1){ /*Dentro do () fica a ordem inversa, 1 significa o último, 
    2 o penúltimo... */
    background:brown;
}
/* nth-child() funciona para conjuntos: 2n, 2n+1, n+7...
odd -> impar, even ->par;
div:nth-child(2n){ 
    background:crimson;
}
*/
div:nth-of-type(2)
{
    background:rgb(252, 35, 252);
}
div:nth-of-type(3){
    background:rgb(35, 145, 35);
    height:300px;
}
div:nth-of-type(4){
    background:deepskyblue;
}
div:hover {
    background: violet;
    border: 6px solid black;
}
/*******************************************/
/* Estilar as h3*/
div:nth-of-type(1) > h3{
    color: red;
}
div:nth-of-type(2) > h3{
    color: green;
}
div:nth-of-type(3) > h3{
    color:blue;
}
div:nth-of-type(4) > h3{
    color:crimson;
}
div:nth-of-type(5) > h3{
    color:cyan;
}

div:nth-child(odd) h3{
    font-style:italic;
}
